<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<!-- add 'footer' snippet in css -->
  <!--Footer-->
    <footer id="footer" class="footer-06">
        <div class="container-fluid mt-4 pb-3">
            <div class="container pl-0 pt-2 pr-0">
                <div class="row">
                    <div class="col-md-2 col-6 mb-md-0 mb-4">
                        <h2 class="footer-heading pt-3 ">Top Cateogories and Brands</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-1 d-block text-decoration-none"><span class="ion-ios-checkmark-circle-outline mr-2"></span>Mobile Phones</a></li>
                            <li><a href="#" class="py-1 d-block text-decoration-none"><span class="ion-ios-checkmark-circle-outline mr-2"></span>Lates Laptops</a></li>
                            <li><a href="#" class="py-1 d-block text-decoration-none"><span class="ion-ios-checkmark-circle-outline mr-2"></span>LED TV</a></li>
                            <li><a href="#" class="py-1 d-block text-decoration-none"><span class="ion-ios-checkmark-circle-outline mr-2"></span>Home Appliance</a></li>
                            <li><a href="#" class="py-1 d-block text-decoration-none"><span class="ion-ios-checkmark-circle-outline mr-2"></span>DSLR CAMERAs</a></li>
                            <li><a href="#" class="py-1 d-block text-decoration-none"><span class="ion-ios-checkmark-circle-outline mr-2"></span>Trending</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-6 mb-md-0 mb-4 ">
                        <h2 class="footer-heading pt-3 ">Customer Care</h2>
                        <ul class="list-unstyled ">
                            <li><a href="#" class="py-1 d-block text-decoration-none"><span class="ion-ios-checkmark-circle-outline mr-2"></span>About Us</a></li>
                            <li><a href="#" class="py-1 d-block text-decoration-none"><span class="ion-ios-checkmark-circle-outline mr-2"></span>Blog</a></li>
                            <li><a href="#" class="py-1 d-block text-decoration-none"><span class="ion-ios-checkmark-circle-outline mr-2"></span>Annoucements</a></li>
                            <li><a href="#" class="py-1 d-block text-decoration-none"><span class="ion-ios-checkmark-circle-outline mr-2"></span>Contact US</a></li>
                            <li><a href="#" class="py-1 d-block text-decoration-none"><span class="ion-ios-checkmark-circle-outline mr-2"></span>FAQ</a></li>
                            <li><a href="#" class="py-1 d-block text-decoration-none"><span class="ion-ios-checkmark-circle-outline mr-2"></span>Privaacy Policy</a></li>
                            <li><a href="#" class="py-1 d-block text-decoration-none"><span class="ion-ios-checkmark-circle-outline mr-2"></span>Terms & Conditions</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-6 mb-md-0 mb-4">
                        <h2 class="footer-heading pt-3">Top Products</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-1 d-block text-decoration-none"><span class="ion-ios-checkmark-circle-outline mr-2"></span>Mens Fashion</a></li>
                            <li><a href="#" class="py-1 d-block text-decoration-none"><span class="ion-ios-checkmark-circle-outline mr-2"></span>Health and Beauty</a></li>
                            <li><a href="#" class="py-1 d-block text-decoration-none"><span class="ion-ios-checkmark-circle-outline mr-2"></span>Womens Fasshion</a></li>
                            <li><a href="#" class="py-1 d-block text-decoration-none"><span class="ion-ios-checkmark-circle-outline mr-2"></span>Babies Toys</a></li>
                            <li><a href="#" class="py-1 d-block text-decoration-none"><span class="ion-ios-checkmark-circle-outline mr-2"></span>Home Fashion</a></li>
                            <li><a href="#" class="py-1 d-block text-decoration-none"><span class="ion-ios-checkmark-circle-outline mr-2"></span>Sports and Outdoors</a></li>
                            <li><a href="#" class="py-1 d-block text-decoration-none"><span class="ion-ios-checkmark-circle-outline mr-2"></span>Watches and Bags</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-6 mb-md-0 mb-4">
                        <h2 class="footer-heading pt-3">Make Money With Us</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-1 d-block text-decoration-none"><span class="ion-ios-checkmark-circle-outline mr-2"></span>Sell Online</a></li>
                            <li><a href="#" class="py-1 d-block text-decoration-none"><span class="ion-ios-checkmark-circle-outline mr-2"></span>Join Affilaite Program</a></li>
                            <li><a href="#" class="py-1 d-block text-decoration-none"><span class="ion-ios-checkmark-circle-outline mr-2"></span>Buy Online</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 mb-md-0 mb-4">
                        <h2 class="footer-heading pt-3">Follow Us</h2>
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item mr-3">
                                <a href="# "> <i class=" fa fa-facebook fa-2x circle-icon" aria-hidden="true"></i></a>
                            </li>
                            <li class="list-inline-item mr-3">
                                <a href=" "><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
                            </li>
                            <li class="list-inline-item mr-3">
                                <a href=" "><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
                            </li>
                            <li class="list-inline-item mr-4">
                                <a href=" "><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
                            </li>
                            <li class="list-inline-item mr-4 pr-0">
                                <a href=" "><i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                        <div class="d-inline-flex">
                            <button class="btn btn-dark w-50 mr-3" type="submit"><i class="fa fa-apple" aria-hidden="true"></i> Download on the Apple Store</button>
                            <button class="btn btn-dark w-50" type=" submit"> <i class="fa fa-google" aria-hidden="true"></i> Download on the Anriod Store</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <section class="copyright">
            <div class="container pt-4 pb-0">
                <div class="row">
                    <div class="col-lg-3">
                        
                    </div>
                    <div class="col-lg-5">
                        <h5 class="h5 text-center">Copyright © 2022 SHOPPINGWITHUS. All Right Reserved.</h5>
                    </div>
                    <div class="col-lg-3">
                        
                    </div>
                </div>
            </div>
        </section>
    </footer>